
.header{
    display: flex;
    flex-direction:row;
    justify-content:right;
     position: fixed;
     top: 0px;
     left: 0px;
     right: 0px;
     padding: 12px;
   
}
 .pp1 {
   cursor: pointer;
    font-family: Arial;
    font-weight: bold;
    font-size:16px;
    margin-right: 20px;
    padding: 10px;
    color : white;
    text-decoration: none;
    
 }
 .pp2{
   
    font-family: Arial;
    font-weight: bold;
    font-size:16px;
    margin-right: 20px;
    cursor: pointer;
    padding: 10px; 
    color : white;
    text-decoration: none;
    

 } 
.pp3{
  

    font-family: Arial;
    font-weight: bold;
    font-size:16px;
    margin-right: 20px;
    cursor: pointer;
    padding: 10px;
    color : white;
    text-decoration: none;
    
 }
 .pp4{
    font-family: Arial;
    font-weight: bold;
    font-size:16px;
    margin-right: 20px;
    cursor: pointer;
    padding: 10px;
    color : white;
    text-decoration: none;
    
}
.float-image {
    width: 200px; /* Set the size of the image */
    animation: floatAnimation 3s ease-in-out infinite; /* Apply the animation */
    margin-right: 40px;
width: 400px;
height: 400px;
object-fit: cover;
object-position: right;
border-radius: 200px;
box-shadow: 1px 1px 30px  rgb(255, 0, 191);
margin-left: 100px;
margin-top: 80px
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0); /* Initial position */
    }
    50% {
        transform: translateY(-20px); /* Move up */
    }
    100% {
        transform: translateY(0); /* Move back to the original position */
    }
}
.p1{
    font-family: arial;
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 6px;
}
.p2{
    font-family: arial;
    color: white;
    font-size: 60px;
    font-weight: bold;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}
.my-name{
    color: rgb(255, 0, 191);
    font-family: arial;
    font-size: 60px;
    font-weight: bold;
    display: inline-block;
   margin-left: 10px;
   margin-top: 0px;
   margin-bottom: 0px;
}
.p3{
    font-family: arial;
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin-top: 0px;
    display: inline-block;
    margin-bottom: 0px;
}
.p4{
    font-family: arial;
    color: white;
    font-size: 35px;

    margin-bottom: 6px;
    margin-top: 0px;
    width: 600px;
}
.web-developer{
    color: rgb(255, 0, 191);
    font-family: arial;
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
   margin-left: 10px;
   margin-top: 0px;
   margin-bottom: 0px;
}
.container{
    display: flex;
    align-items: center;
}
body{
background:black;
}
